language: haxe

os:
  - linux
  - osx

haxe:
  - 3.4.1
  - 3.4.7
  - development

dist: trusty

sudo: false

# thanks to Andy Li! https://github.com/andyli/HaxeCI
addons:
  # This is the preferred way to install apt packages.
  # However, it only allow some but not all packages.
  # Alternatively, we can use `sudo apt-get install ...` in the `install:` section.
  # http://docs.travis-ci.com/user/apt/#Adding-APT-Packages
  apt:
    packages:
      - cmake
      # C++ (for rebuilding hxcpp)
      - gcc-multilib
      - g++-multilib
      # Python
      - python3
      # C#
      - mono-devel
      - mono-mcs
      # Lua
      - luajit
      - luarocks
      - lua-sec
      - lua-bitop
      - lua-socket
      - libpcre3-dev

install:
  # os-specific config
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
      phpenv global 7.0;
    elif [ "${TRAVIS_OS_NAME}" = "osx" ]; then
      brew update;
      brew install mono;
      brew upgrade python;
      brew install php@7.2;
    fi
  # Haxe Lua dependencies
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
      luarocks install --local lrexlib-pcre PCRE_LIBDIR=/lib/x86_64-linux-gnu;
    elif [ "${TRAVIS_OS_NAME}" = "osx" ]; then
      brew install lua pcre python;
      luarocks install --local luabitop;
      luarocks install --local luasocket;
      luarocks install --local lrexlib-pcre;
    fi
  - luarocks install --local luv
  - luarocks install --local environ
  - eval $(luarocks path)
  # Install haxelibs
  - if [ "${TRAVIS_HAXE_VERSION}" = "development" ]; then
      git clone https://github.com/HaxeFoundation/hxcpp.git;
      haxelib dev hxcpp hxcpp;
      pushd $(haxelib path hxcpp | head -1);
        pushd tools/hxcpp; haxe compile.hxml; popd;
        pushd project; neko build.n; haxe compile-cppia.hxml; popd;
      popd;
    else
      haxelib install hxcpp;
    fi
  - haxelib install hxjava
  - haxelib install hxcs
  - haxelib install hxjsonast # dep for json2object
  - haxelib install utest     # dep for json2object
  - haxelib list

script:
  - haxe tests.hxml
